.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px 0;
  width: 100%;
  z-index: 9;
  height: 150px;
}

.image {
  height: inherit;
}

@media screen and (max-width: 480px) {
  .header {
    height: 100px;
  }
}